<footer id="footer" class="bg-light">
    <div class="container d-md-flex py-4">
        <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
                &copy; Copyright
                <strong><span>Drachen Software</span></strong>. Todos los derechos reservados
            </div>
            <div class="credits">
                Designed by
                <a href="https://garc111.github.io/">Drachen Software</a>
                <!--link a la pagina-->
            </div>
        </div>
    </div>
</footer>