<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #336699;">
    <div class="container d-flex align-items-center">
        <a class="navbar-brand" href="/">
            <img src="assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Consultorio Dental
        </a>
        {{#if user}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="nav-menu d-lg-block ml-auto" id="navbarNav">
                <ul class="navbar-nav ml-auto">

                    {{#if paciente}}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/perfil">Mi Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/logout">Cerrar Sesión</a>
                    </li>
                    {{else}}
                    {{#if admin}}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Secciones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item p-2" href="/pacientes">Ver lista de pacientes </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item p-2" href="/solicitudes">Ver solicitudes de turnos</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item p-2" href="/turnos">Ver proximos turnos</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/logout">Cerrar Sesión</a>
                    </li>
                    {{/if}}
                    {{/if}}
                </ul>
            </div>
        </div>
        {{/if}}


    </div>

</nav>