<nav class="navbar navbar-dark " style="background-color: deepskyblue;">
    <a class="navbar-brand" href="#">
        <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
            alt="" loading="lazy">
        Consultorio Dental
    </a>
    <form class="form-inline">
        <button class="btn btn-dark my-2 my-sm-0" type="submit">Salir</button>
    </form>
</nav>