{{!-- Ver proximos turnos --}}
<section>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card text-center">

                    <div class="card-head">
                        <h3>Bienvenido {{user.email}}</h3>
                    </div>
                    <div class="card-body">
                        <a href="/pacientes" class="btn btn-primary m-4">
                            Ver lista de pacientes
                        </a>
                        <a href="/solicitudes" class="btn btn-primary m-4">
                            Ver solicitudes de turnos
                        </a>
                        <a href="/turnos" class="btn btn-primary m-4">
                            Ver proximos turnos
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>