{{!-- Ver proximos turnos --}}
<section>
    <div class="container">
        <div class="container p-4 ">

            <div class="row">
                <div class="col">
                    <div class="col-md-6 mx-auto">
                        <div class="card text-center border border-warning shadow-lg p-3 mb-5 bg-white rounded">

                            <div class="card-header bg-white border-bottom border-warning">
                                <h3 class="card-title font-weight-bold p-4">Bienvenida
                                    <p class="font-weight-lighter">Dra. Ana Sonrisa</p>
                                </h3>
                            </div>
                            <div class="card-body">

                                <p class="p-4"></p>
                                <p class="p-4"></p>
                                <a href="/pacientes" class="btn btn-primary btn-lg btn-block "
                                    style="background-color: #1977cc;">
                                    <p class="font-weight-lighter">Ver lista de pacientes</p>
                                </a>


                                <a href="/solicitudes" class="btn btn-primary btn-lg btn-block "
                                    style="background-color: #1977cc;">
                                    <p class="font-weight-lighter">Ver solicitudes de turnos</p>
                                </a>


                                <a href="/turnos" class="btn btn-primary btn-lg btn-block "
                                    style="background-color: #1977cc;">
                                    <p class="font-weight-lighter">Ver proximos turnos</p>
                                </a>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
</section>