<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Preguntas frecuentes</h2>
            <p>Antes de hacer una consulta, revisá ésta sección si tenés alguna duda en particular, es posible que
                esté respondida acá abajo.</p>
        </div>

        <div class="faq-list">
            <ul>
                <li data-aos="fade-up">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse collapsed"
                        href="#faq-list-1" aria-expanded="false">¿Qué consideraciones deben tener los pacientes antes de
                        solicitar un turno? <i class="bx bx-chevron-down icon-show"></i><i
                            class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse" data-parent=".faq-list" style="">
                        <p>
                            En primer lugar, que su problema sea urgente, en caso contrario se puede postergar para una
                            fecha futura.<br>
                            En segundo lugar, no tener síntomas de COVID-19 (tener más de 37.5° de temperatura corporal,
                            sensación de falta de aire,
                            tos, dolor de garganta, diarrea, alteración del gusto y/u olfato).
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2"
                        class="collapsed">¿Cuándo se retoma la actividad normal en el consultorio? <i
                            class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                        <p>
                            Cuando las condiciones estén dadas y garantizadas por el Gobierno, en conjunto con el
                            Ministerio
                            de Salud, y no se corra más riesgo de contraer COVID-19, tanto para los pacientes como el
                            personal del
                            consultorio.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3"
                        class="collapsed">¿Qué servicios están disponibles? <i
                            class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                        <p>
                            Se está dando turnos solamente a los pacientes con urgencias. El resto de servicios que
                            normalmente el consultorio
                            ofrece, se encuentran suspendidos hasta que se retome la actividad normal.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4"
                        class="collapsed">¿Qué medidas de seguridad preventivas debo tomar para concurrir al
                        consultorio? <i class="bx bx-chevron-down icon-show"></i><i
                            class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                        <p>
                            El uso de barbijo es obligatorio y sin excepción.<br>
                            No haber tenido contacto estrecho con alguna persona que viajó al exterior o al menos a
                            alguna de las
                            zonas de transmisión comunitaria en los últimos 14 días.<br>
                            No haber tenido contacto estrecho con algún paciente con COVID-19 confirmado (conviviente o
                            compañero/a de trabajo).
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5"
                        class="collapsed">¿En qué horarios se asignan los turnos? <i
                            class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                        <p>
                            Hasta que se retome la actividad normal, se asignan dos turnos por día. Uno por la mañana y
                            otro por la tarde.
                        </p>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</section>