<section id="faq" class="section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Proximos Turnos</h2>
        </div>
        {{!-- <section class="limiter">
        <div class="container-table100"> --}}
        <div class="wrap-table100">
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                            <tr class="row100 head">
                                <th class="cell100 column1">Paciente</th>
                                <th class="cell100 column1">DNI</th>
                                <th class="cell100 column2">Fecha</th>
                                <th class="cell100 column3">Horario</th>
                                <th class="cell100 column4">Prestacion</th>
                                <th class="cell100 column5">Opciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                            <tr class="row100 body">
                                <td class="cell100 column1">Like a butterfly</td>
                                <td class="cell100 column2">Boxing</td>
                                <td class="cell100 column2">Boxing</td>
                                <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                                <td class="cell100 column4">Aaron Chapman</td>
                                <td class="cell100 column5">
                                    <div style="width: 70%;" class="d-flex justify-content-between align-items-center">
                                        <button class="boton-opcion btn-primary">
                                            <i class='custom-icon icon-white bx bx-x-circle icon-help icon-x'></i>
                                        </button>
                                        <button class="boton-opcion btn-danger">
                                            <i class='custom-icon icon-white bx bx-x-circle icon-help icon-x'></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>

<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
    $('.js-pscroll').each(function () {
        var ps = new PerfectScrollbar(this);

        $(window).on('resize', function () {
            ps.update();
        })
    });		
</script>