<section class="section-bg">
    <div class="container" id='wrap'>

        <div class="section-title">
            <h2>Proximos Turnos</h2>
        </div>

        <div id='calendar'></div>

        <div style='clear:both'></div>
    </div>
</section>