<div class="container p-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form action="" method="POST">
                        Email:<br><input type="text"></br>
                        Contraseña:<br><input type="text"></br>
                        <br><input type="submit" value="Acceder"></br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>