<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Turnos</title>

    <link href="assets/img/logoDiente.png" rel="icon">
    {{!-- Fuentes de google --}}
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    {{!-- BOOSTRAP 4--}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {{!-- Iconos--}}
    <script src="https://kit.fontawesome.com/e389bd38c9.js" crossorigin="anonymous"></script>
    {{!--Estilos--}}
    <link rel="stylesheet" href="/assets/css/turno.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    {{> navigation}}
    {{!--Codigo que se va a copartir entre todas las páginas--}}
    {{> message}}

    {{{ body }}}




    {{!-- <footer class="page-footer">

        <div class="container d-md-flex py-4">

            <div class="mr-md-auto text-center text-md-left">
                <div class="footer-copyright text-center py-3">
                    &copy; Copyright <strong><span>Drachen Software</span></strong>. Todos los derechos reservados
                </div>
                <div class="credits">
                    Designed by <a href="https://garc111.github.io/">Drachen Software</a>
                    <!--link a la pagina-->
                </div>
            </div>
        </div>
    </footer> --}}

    <footer id="footer">
        <div class="container d-md-flex py-4">
            <div class="mr-md-auto text-center text-md-left">
                <div class="copyright">
                    &copy; Copyright
                    <strong><span>Drachen Software</span></strong>. Todos los derechos reservados
                </div>
                <div class="credits">
                    Designed by
                    <a href="https://garc111.github.io/">Drachen Software</a>
                    <!--link a la pagina-->
                </div>
            </div>
        </div>
    </footer>


    {{!--Scripts--}}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="assets/js/script.js"></script>

</body>

</html>