<section style="height: unset;" id="faq" class="faq section-bg">
    <div class="section-title">
        <h2>Consultorio Dental <i>Sonrisa Feliz</i> </h2>
    </div>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card text-center">

                    <div class="card-head">
                        <h3>Bienvenido {{user.email}}</h3>
                    </div>
                    <div class="card-body">
                        <a href="/pedirTurno" class="btn btn-primary m-4">
                            Pedir un turno!
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>