<div class="container p-5">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Registrarse</h3>
                </div>
                <div class="card-body">
                    <form action="/signup" method="POST">

                        <div class="form-group">
                            <input type="email" name="email" placeholder="Tu Email" class="form-control" autofocus
                                required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="nombre" placeholder="Tu Nombre" class="form-control" autofocus
                                required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellido" placeholder="Tu Apellido" class="form-control" autofocus
                                required>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="telefono" placeholder="Tu Telefono de contacto" class="form-control"
                                min="0" autofocus required>
                        </div>
                        <div class="form-group">
                            <input type="number" name="dni" placeholder="Tu DNI" class="form-control" min="0"
                                max="100000000" autofocus required>
                        </div>
                        <div class="form-group">
                            <label for="nacimiento">Selecciona tu Fecha de Nacimiento</label>
                            <input type="date" name="nacimiento" placeholder="" class="form-control" autofocus required>
                        </div>
                        <div class="form-group">

                            <label>Seleccionar Obra Social</label>
                            <select name="obra" id="obra">
                                {{#each obrasJson}}
                                <option value={{nombre}}>{{nombre}}</option>
                                {{/each}}
                            </select>
                        </div>


                        <div class="form-group">
                            <input type="password" name="password" placeholder="Contraseña" class="form-control"
                                required>
                        </div>
                        {{!-- <div class="form-group">
                            <input type="password" name="password-two" placeholder="Confirmar contraseña"
                                class="form-control">
                        </div> --}}
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>